$namespace: 'l' !default; // default的意思是，如果用户没有定义这个变量，那么就使用默认值
$block-sel: '-' !default;
$elem-sel: '__' !default;
$mod-sel: '--' !default;

@mixin bfc {
  height: 100%;
  overflow: hidden;
}

// l-block
@mixin b($block){
  $B: #{$namespace + $block-sel + $block};
  .#{$B} {
    @content; // @content是scss的一个语法，表示将@include的内容插入到@include的位置
  }
}

// l-block__inner
@mixin e($el){
  $selector: &;
  // 使用@at-root将选择器从嵌套中移出来,将选择器从'.l-block .l-block__inner'移出来，变成'.l-block__inner'
  @at-root {
    #{$selector + $elem-sel + $el}{
      @content;
    }
  }
}

// l-block--mod
@mixin m($m){
// 定义一个变量$selector，其值为&，即当前选择器的引用
  $selector: &;
  // 使用@at-root将选择器从嵌套中移出来,将选择器从'.l-block .l-block--mod'移出来，变成'.l-block--mod'
 // 使用@at-root指令，将选择器放置在根目录下
  @at-root {
    // 将选择器、修饰符选择器和m选择器进行拼接
    #{$selector + $mod-sel + $m}{
      // 执行@content指令，将内容放置在拼接后的选择器中
      @content;
    }
  }
}